/CSGOGameObserver/bin/Debug/CSGOGameObserver.exe
/CSGOGameObserver/bin/Debug/CSGOGameObserver.exe.config
/CSGOGameObserver/bin/Debug/CSGOGameObserver.pdb
/CSGOGameObserver/bin/Debug/CSGOGameObserver.vshost.exe
/CSGOGameObserver/bin/Debug/CSGOGameObserver.vshost.exe.config
/CSGOGameObserver/bin/Debug/CSGOGameObserver.vshost.exe.manifest
/CSGOGameObserver/bin/Debug/CSGOGameObserverSDK.dll
/CSGOGameObserver/bin/Debug/CSGOGameObserverSDK.pdb
/CSGOGameObserver/bin/Debug/Newtonsoft.Json.dll
/CSGOGameObserver/bin/Debug/Newtonsoft.Json.xml
/CSGOGameObserver/obj/Debug/App.g.cs
/CSGOGameObserver/obj/Debug/App.g.i.cs
/CSGOGameObserver/obj/Debug/CSGOGameObserver.Properties.Resources.resources
/CSGOGameObserver/obj/Debug/CSGOGameObserver.csproj.FileListAbsolute.txt
/CSGOGameObserver/obj/Debug/CSGOGameObserver.csproj.GenerateResource.Cache
/CSGOGameObserver/obj/Debug/CSGOGameObserver.csprojResolveAssemblyReference.cache
/CSGOGameObserver/obj/Debug/CSGOGameObserver.exe
/CSGOGameObserver/obj/Debug/CSGOGameObserver.g.resources
/CSGOGameObserver/obj/Debug/CSGOGameObserver.pdb
/CSGOGameObserver/obj/Debug/CSGOGameObserver_MarkupCompile.cache
/CSGOGameObserver/obj/Debug/CSGOGameObserver_MarkupCompile.i.cache
/CSGOGameObserver/obj/Debug/CSGOGameObserver_MarkupCompile.i.lref
/CSGOGameObserver/obj/Debug/CSGOGameObserver_MarkupCompile.lref
/CSGOGameObserver/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSGOGameObserver/obj/Debug/MainWindow.baml
/CSGOGameObserver/obj/Debug/MainWindow.g.cs
/CSGOGameObserver/obj/Debug/MainWindow.g.i.cs
/CSGOGameObserver/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/CSGOGameObserver/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CSGOGameObserver/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CSGOGameObserver/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.7.0.1/tools/install.ps1
